body {
    margin: 0;
    padding: 0;
    background: rgb(49, 49, 49);
}

a {
    text-decoration: none;
}

.contentBox {
    margin: 33px 2px 0 2px;
    background: rgb(49, 49, 49);
    border: 0;
    display: grid;
    justify-content:space-evenly;
    gap: 20px;
}

.bigButton {
    margin: 10px;
    background-color: rgb(49, 49, 49);
    max-width: 100%;
    max-height: 90%;
    border-radius: 500px;
    transition-duration: 1s;

}

.bigButton:hover {
    background-color: darkgray;
    transition-duration: 1s;
}

img {
    width: 100%;
}
